
@font-face 
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  /* 根据字体文件的路径和格式进行调整 */
  font-weight: normal;
  font-style: normal;


.bx 
  max-width: 1120px;
  margin: 0 auto;

.bold
  font-weight: 700
  
html
  scroll-behavior: smooth

.bg-img
  background: url(../img/icon-bg.gif) repeat;
  
img
  vertical-align: top;
  
p
  word-wrap: break-word;
  
body
  line-height: 1.8
  
div
  box-sizing: border-box