// Reset basic elements to ensure consistent rendering across browsers
// Reset box model
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
  margin 0
  padding 0
  border 0
  font-size 100%
  font-weight normal
  vertical-align baseline
  
img
  display block
// Set line height and font family for better typography
body
  line-height 1
  font-family "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3" , "Hiragino Kaku Gothic ProN" , 'メイリオ' ,Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic" , Verdana, Arial, Helvetica, sans-serif
  font-size 15px
	font-weight 500
	-webkit-text-size-adjust none
	line-height 1.8
	color #111

// Remove list styles
ol,
ul
  list-style none

// Remove hyperlink text decoration
a
  text-decoration none
  box-sizing border-box
// Correct block display for IE
blockquote,
q
  quotes none

// Correct block display for IE 8/9
blockquote:before,
blockquote:after,
q:before,
q:after
  content ""
  content none

// Reset some commonly used HTML5 structural elements to display:block
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary
  display block

// Ensure that form elements have the same vertical alignment as text
input,
select,
textarea
  vertical-align middle

// Undo some default styles in browsers
button,
input,
select,
textarea
  font-size 100%
  margin 0

// Remove the inner border and padding in Firefox
button::-moz-focus-inner,
input::-moz-focus-inner
  border 0
  padding 0

// Reset buttons to 'inline' to avoid weird spacing in IE
button,
input[type="reset"],
input[type="button"],
input[type="submit"]
  display inline
  cursor pointer
  border 0
  padding 0
  margin 0

// Remove outline on active elements in IE 8/9
a,
a:active
  outline 0

// Correct the font style for 'hr' and 'pre' in IE
hr
  height 1px
  font-size 0

pre
  overflow auto
  white-space pre-wrap
  word-wrap break-word

// Add HTML5 elements styling
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display block

// Supress 'dotted' outline style in Firefox
::-moz-focus-inner
  border 0
  padding 0

// Normalize button and input field rendering
button,
input,
select,
textarea
  margin 0
  font inherit
  color inherit
